

<!-- Default Progressbar with 50 percent -->
<ion-progress-bar value={{progressValue}}></ion-progress-bar>



<div class="over">
  <div class="time">
    {{display}} / 60:00
  </div>
  <div >
    <ion-card class="desc_box">
      <ion-card-header class="round">
        <ion-card-title class="ion-text-center">Section {{currentId+1}}</ion-card-title>
        <div>{{currentId+1}}/{{totalCount}}</div>
      </ion-card-header>
      <ion-card-content class="contents">
        {{description}}
      </ion-card-content>
    </ion-card>
  </div>
  
  <div [ngSwitch]="currentQuestions">
    <div *ngSwitchCase="'CODING'" class=" textc" >
      <ion-textarea  [(ngModel)]="code" value="textValue"></ion-textarea>
      <div class="textc upload"><div class="Upload-txt-pdf-excel">Upload: txt, pdf, excel</div></div>
    </div>
    <div *ngSwitchCase="'MULTY_CHOICE'" class="row">
      <app-option-list [optionList]="optionList" (selectedValue)="getValue($event)">
      </app-option-list>
    </div>
    <div *ngSwitchCase="'ESSAY'" class="row">
      <ion-textarea [(ngModel)]="code" value="textValue"></ion-textarea>
    </div>
    <div *ngSwitchCase="'SINGLE_CHOICE'" class="row">
      <app-option-list [optionList]="optionList" (selectedValue)="getValue($event)">
      </app-option-list>
    </div>
  </div>
<div slot="bottom" class="ion-align-self-center">
  <ion-button (click)="last()" fill="solid" shape="round" color="dark" class="btnstyle">
    <ion-icon slot="icon-only" name="play-back"></ion-icon>
  </ion-button>
  <ion-button *ngIf="finalStep" class="confirmx" (click)="submit()" fill="solid" shape="round" color="dark">
    CONFIRM
  </ion-button>
  <ion-button (click)="next()" fill="solid" shape="round" color="dark" class="btnstyle">
    <ion-icon slot="icon-only" name="play-forward"></ion-icon>
  </ion-button>
</div>
</div>