<div class='body_container'>
  <div class='instruction_container'>
    <p>RULES & INSTRUCTION</p>
    <p>1. You can need to select the most accurate answer out of the four options. </p>
    <p> 2. Coding needs to be either uploaded as PDF or TXT. </p>
  </div>
  <div class='task_panel'>
    <div>
      <p>TASK LIST</p>
      <div class='task_list'>
        <p>Round 1 : MCQ</p>
        <P>Round 2 : Coding</P>
      </div>
    </div>
    <div class='button_list'>
      <ion-button color="dark" shape="round" (click)="triggerConfrim()">CONFIRM
      </ion-button>
    </div>
  </div>

</div>
