.interviewee_cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65rem;
    height: 56px;
    border: solid 1px #707070;
    background-color: #ffffff;

}

.username {
    margin-left: 1rem;
    >p{
        width: 8rem;
    }
}

p {
    display: inline-block;
}

.button_list {
    display: flex;
    align-items: center;

    p {
        margin: 0 1rem;
    }

    p:hover {
        text-decoration: underline;
    }
}

ion-item {
    display: inline-block;
}

.info_panel {
    border: solid 1px #707070;
    border-width: 0 1px 1px 1px;
    background-color: #f1f1f1;
    padding: 1rem 3rem;
    animation: panel 0.2s;
    overflow: hidden;
}

@keyframes panel {
    from {
        max-height: 0px;
    }

    to {
        max-height: 300px;
    }
}

.button_cell {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 0 0;
}

.input_cell {
    display: flex;
    align-items: center;

    >p {
        width: 5rem;
    }
}