<div class='container'>
  <p class='module_title'>Ham Meimei</p>
  <div class='report_container'>
    <div class='section_cell'>
      <p class= 'section_title'>Section A</p>
      <div class='score_cell'>
        <p>Score</p><input class='score_input'>
      </div>
      <div class=' comment_cell'>
        <p>Comment</p><input class='comment'>
      </div>
    </div>
    <div class='section_cell'>
      <p class= 'section_title'>Section B</p>
      <div class='score_cell'>
        <p>Score</p><input class='score_input'>
      </div>
      <div class='comment_cell'>
        <p>Comment</p><input class='comment'>
      </div>
    </div>
    <div class='section_cell'>
      <p class= 'section_title'>Section C</p>
      <div class='score_cell'>
        <p>Score</p><input class='score_input'>
      </div>
      <div class=' comment_cell'>
        <p>Comment</p><input class='comment'>
      </div>
    </div>
    <p class= 'section_title'>Overall Comment</p>
    <input class='summary'>
  </div>
  <div class='button_list'>
    <div>
      <button> Save</button>
      <button> Submit</button>
    </div>
    <button> Back</button>
  </div>
</div>
