<div class='layer'>
  <div class='content'>
    <div class='title_part'>
      <p>Link Generation</p>
      <ion-button color="dark" shape="round" (click)="triggerAddPanel()">ADD</ion-button>
    </div>
    <div *ngFor = "let interviewee of intervieweeList">
      <app-toggle-panel [customer]='interviewee.user'></app-toggle-panel>
    </div>
    <div class='add_new_container' *ngIf="addContainerToggle">
      <p class='add_title'>Add new ineterviewee</p>
      <div class='input_cell'>
        <p>Name:</p>
        <ion-item color='f1f1f1'>
          <ion-input [(ngModel)]='name' size='40'></ion-input>
        </ion-item>
      </div>
      <div class='input_cell'>
        <p>ID Card:</p>
        <ion-item color='f1f1f1'>
          <ion-input [(ngModel)]='id' size='40'></ion-input>
        </ion-item>
      </div>
      <div class='input_cell'>
        <p>Phone:</p>
        <ion-item color='f1f1f1'>
          <ion-input [(ngModel)]='phone' size='40'></ion-input>
        </ion-item>
      </div>
      <div class='input_cell'>
        <p>Email:</p>
        <ion-item color='f1f1f1'>
          <ion-input [(ngModel)]='email' size='40'></ion-input>
        </ion-item>
      </div>
      <div class='button_cell'>
        <ion-button color="dark" shape="round" (click)="addNewInterviewee()">ADD</ion-button>
        <ion-button color="dark" shape="round" (click)="triggerAddPanel()">CANCEL</ion-button>
      </div>
    </div>
    <div class='toast' *ngIf="toastInfo">
      <p>{{toastInfo}}</p>
    </div>
  </div>
</div>
