<a routerLink='/homepage'>Back</a>
<div class="container">
  <p>{{customerInfo.userName}}</p>
  <div class='form'>
    <ion-label>Phone Number</ion-label>
    <ion-item>
      <ion-input color="dark" [(ngModel)]="customerInfo.userPhone" disabled={{inputEnable}}></ion-input>
    </ion-item>
    <ion-label>Email</ion-label>
    <ion-item>
      <ion-input color="dark" inputmode='email' disabled={{inputEnable}} [(ngModel)]="customerInfo.userEmail">
      </ion-input>
    </ion-item>
    <ion-label>ID</ion-label>
    <ion-item>
      <ion-input disabled [(ngModel)]="customerInfo.userId"></ion-input>
    </ion-item>
  </div>
  <ion-button color="dark" shape="round" (click)="trggerInput()">{{buttonTag}}</ion-button>
</div>
